/*!
 * STARSS
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color: #D60015;
}
h1,
h4 {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
h1 {
  font-family: 'lcarsregular', 'Helvetica', 'Arial', 'sans-serif';
}
h4 {
	line-height: 1.4;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
div { 
	-webkit-transition: width 0.1s ease-in-out;
	-moz-transition: width 0.1s ease-in-out;
	-o-transition: width 0.1s ease-in-out;
	transition: width 0.1s ease-in-out;  
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: #eeeeee; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #fefefe , #dddddd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #fefefe, #dddddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #fefefe, #dddddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fefefe , #dddddd); /* Standard syntax */
}
header .header-content {
  text-align: center;
  padding: 0px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 20px auto;
  
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  font-size: 100px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 100px;
  }
}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 124px;
  }
}
@media (max-width: 600px) {
	h4 {
		margin-left: 10px;
		margin-right: 10px;
	}
}
section {
  padding: 100px 0;
}
section.download {
  padding-top: 100px;
  padding-bottom: 75px;
  position: relative;
}
section.download .badges .badge-link {
  display: block;
  margin-top: 30px;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  width: 194px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
  text-decoration: none;
}
.bg-primary {
  background: #222222;
  background: -webkit-linear-gradient(#111111, #222222);
  background: linear-gradient(#111111, #222222);
}
.btn-outline {
  color: #444444;
  border-color: #444444;
  border: 2px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: white;
  background-color: #B90007;
  border-color: #B90007;
}
.btn {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 300px;
}
.btn-xl {
  margin-top: 20px;
  padding: 10px 60px;
  font-size: 14px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #D60015;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
.legal {
    color: #444;
	padding-top: 20px;
}